<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>golos-ui_regular.ttf</string>
		<string>golos-ui_bold.ttf</string>
		<string>Literata_36pt-Medium.ttf</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>we need your microphone, pls</string>
	<key>NSCameraUsageDescription</key>
	<string>we need your camera, pls</string>
</dict>
</plist>
